*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 4px solid #ccc;
    padding: 20px 40px;
    margin: 30px;
    border-radius: 6px;
}
.nav-items{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.nav-item{
    list-style: none;
}

.nav-item a{
    text-decoration: none;
}