*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(17,120,84);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    border: 1px solid white;
    height: 400px;
    width: 400px;
}
.box{
    height: 100px;
    width: 100px;
    background-color: wheat;
    transition: all 3s ease-in-out;
    animation-name: slide;
    animation-duration: 4s;
    animation: name duration timing-function delay iteration-count direction fill-mode;

}
.box:hover{
    transform: translate(300px);
}
@keyframes identifier {
    0%{
        transform: translate(0,0);
    }
    25%{
        transform: translate(300px,0);
    }
    50%{
        transform: translate(300px,300px);
    }
    100%{
        transform: translate(0,0);
    }
    
}