@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.min-nav{
    display: flex;
    column-gap: 20px;  
    align-items: center; 
}

.btn{
    padding: 8px;
    border-radius: 6px;
    font-weight: bold;
    color: white;
    background-color: black;
}

.min-nav a{
    text-decoration: none;
    color: black;
}

.dv2 img{
    width: 528px;
    height: 557px;
}

.main{
    display: flex;
    padding: 40px;
    gap: 100px;
}

.dv1 h3{
    color: #828282;
}

.dv1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dv1 p{
    font-weight: 500;
}

.dv3{
    padding: 40px;
    width: 650px;
    max-height: 650px;
    margin-top: -200px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px 0px;
}

.row{
    display: flex;
    gap: 20px;   
}
.row div{
    width: 100%;
}

.field{
    display: flex;
    flex-direction: column;
    gap: 6px;
} 

input,textarea{
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #E0E0E0;
    
}

.submit-btn{
    color: white;
    background-color: black;
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

/*  */
.line{
    border: 1px solid #E6E6E6;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.left-div{
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-bottom:20px;

}
.right-div{
    display: flex;
    gap: 100px;
    padding-right:100px;
    padding-bottom:20px;
    
}
.right-child1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right-child2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right-child3{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
