@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Inter', sans-serif;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
}
.dv1{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 12px 24px;
    background-color: black;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
.dv1 a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}