@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.main{
    padding: 40px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.min-nav{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.min-nav a{
    text-decoration: none;
    color: black;
}

.btn{
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 8px;
}

.site-name{
    font-size: 20px;
    font-weight: 500;
}
/* ########################################## */
.container .box2 p{
    color: #828282;
}

.container{
    display: flex;
    margin: 40px 0px;  
    gap: 180px; 
}

.cart-btn{
    color: white;
    background-color: black;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
}

.container .box2{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container .box1 img{
    border-radius: 8px;
    width: 650px;
    height: 600px;
}

/* ########################################## */
.pictures{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.pictures .picture img{
    width: 100%;
    border-radius: 8px;
}

.pictures .picture{
    display: flex;
    flex-direction: column;
    gap: 10px;
} 

.pictures .picture p{
    color: #828282;
}

/* ######################################### */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    padding-left: 0;
    margin-top: 80px;
    border-top: 1px solid #E6E6E6;
}
.left-div{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.right-div{
    display: flex;
    gap: 100px;
}
.right-child1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right-child2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right-child3{
    display: flex;
    flex-direction: column;
    gap: 20px;
}