@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.min-nav{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.min-nav a{
    text-decoration: none;
    color: black;
}

.btn{
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 8px;
}

.site-name{
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.header{
    background-image: url("./Screenshot\ 2026-01-26\ 144854.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    height: 350px;
}

.intro h1,p{
    color: black;
}

.intro button{
    padding: 15px 30px;
    background-color: black;
}

/* ################################### */
.containers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px;
    gap: 10px;
    row-gap: 50px;
}

.containers .second-container img{
    width: 100%;
    border-radius: 8px;
}

.containers .third-container img{
    width: 100%;
    border-radius: 8px;
}

.containers .first-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

.containers .fourth-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    /* align-items: flex-end; */
    margin-left: auto;
}

.containers .container p{
    color:#828282;
}

.buttons{
    display: flex;
    gap: 8px;
}

.button{
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 8px;
}

.secondary-button{
    color: black;
    background-color:#E6E6E6;
    padding: 10px;
    border-radius: 8px;
}
/* ####################################*/

.pictures{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 20px;
    row-gap: 110px;
    padding: 40px;
}

.pic-1{
  grid-row: 1 / span 2;
}

.pictures .picture img{
    width: 100%;
    border-radius: 8px;
}

.pictures .picture{
    display: flex;
    flex-direction: column;
    gap: 10px;
} 

.pictures .picture p{
    color: #828282;
}
/* ####################################*/
.contents{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 60px;
    column-gap: 140px;
    padding: 40px;
}

.contents .content p{
    color:#828282;
}


/* ########################################### */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-top: 80px;
    border-top: 1px solid #E6E6E6;
}
.footer p{
    color: black;
}
.left-div{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.right-div{
    display: flex;
    gap: 100px;
}
.right-child1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right-child2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right-child3{
    display: flex;
    flex-direction: column;
    gap: 20px;
}