@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Inter', sans-serif;
}



.img-1{
    width:100%;
    height: 700px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
}
.dv1{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 12px 24px;
    background-color: black;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
.dv1 a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.dv2{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 30px;
    
}
.card img{
    width: 100%;
    height: 550px;
}

.cards{
    display: flex;
    justify-content: center;
    padding: 20px 30px;
    gap: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.dv3{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
}
.img-2{
    width: 705px;
    height: 705px;
}
.dv3{
    padding: 20px 30px;
    gap: 150px;
}
.dv4{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.Secondary-btn{
    padding: 12px 24px;
    background-color:#E6E6E6;
    color: black;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;

}
.dv5{
    display: flex;
    padding: 5px 30px;
    gap: 20px;
}
.dv5 div img{
    width: 100%;
    height: 550px;   
}

.cards2{
    padding: 20px 30px;
    display: flex;
    gap: 20px;
}
.info div img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.info{
    display: flex;
    gap: 15px;
}

.cards2-card{
    border: 1px solid #E6E6E6;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 35px;
    width: 100%;
}
.nd{
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
}
.dv6{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: #F7F7F7;
    align-items: center;
    margin: 60px 0px;
}
.buttons{
    display: flex;
    gap: 20px;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-top: 80px;
    border-top: 1px solid #E6E6E6;
}
.left-div{
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-bottom: 30px;
}
.right-div{
    display: flex;
    gap: 100px;
    padding-bottom: 30px;
}
.right-child1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right-child2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right-child3{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

