@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background: #E5DEFF;
}

.cards{
    display: flex;
    padding: 64px;
    gap: 48px;
}

.card{
    width: 400px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card img{
    width: 100%;
}

.contents{
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 10px;
}

.blog-title{
    font-size: 18px;
    font-weight: 500;
    color: #6E44FF;
}

.card-link{
    font-size: 14px;
    font-weight: 500;
    color: #6E44FF;
}

.description{
    font-size: 14px;
    font-weight: 400;
    color: #6E6B7B;
}

.line{
    border: 1px solid #B6A1FF;
}

.footer{
    display: flex;
    justify-content: space-between;
    color: #6E44FF;
}